body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

/* navigation bar */

nav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 
nav ul{
    display: flex;
    align-items: center;
    background-color: black;
    height: 60px;
    color: white;
    list-style-type: none;
}

nav ul li{
    padding: 0px 12px;
}

.brand img{
    width: 44px;
    padding: 0px 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
} 

/* container */
.container{
    height: 70vh;
    background-color: black;
    color: white;
    display: flex;
    margin: 23px auto;
    border-radius: 12px;
    width: 70%;
    padding: 12px;
    background-image: url('bg.jpg');
    background-size: cover;    
}

/* songitem */

.songitemcontainer{
    margin-top: 30px;
}

.songitem{
    height: 30px;        
    display: flex;
    background-color: white;
    color: black;
    /* width: 80%; */
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songitem img{
    width: 28px;
    margin: 0px 23px;
    border-radius: 50%;
}

.timestemp{
    margin: 0px 23px;
    cursor: pointer;
}   

/* bottom */
.bottom{
    position: sticky;
    bottom: 0;
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

#myprogressbar{
    width: 80vw;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icons{
    margin-top: 12px;
}

.icons i{
    cursor: pointer;
}

.songinfo{
    position: absolute;
    left: 10vw;
}

.songinfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}